{% extends 'adminLayout.html' %}

{% block title %}Listado de libros{% endblock %}
{% block tittleIndex %}Panel administrativo{% endblock %}
{% block descriptionImage %}{{ url_for('static', filename='assets/img/book.png') }}{% endblock %}

{% block description %}
Bienvenido a la sección donde se encuentra el listado de libros registrados, podrás buscar los libros por titulo. Puedes actualizar o eliminar los datos del libro.
{% endblock %}

{{ administrativePanel }}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 lead">
            <ol class="breadcrumb">
                <li><a href="/addBook">Nuevo libro</a></li>
                <li class="active">Listado de libros</li>
            </ol>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin: 0 0 0 0;">
    <form action="/searchUsers" method = "POST" class="pull-right" style="width: 30% !important;" autocomplete="off">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="group-material">
            <input type="search" style="display: inline-block !important; width: 70%;" class="material-control tooltips-general" name="searchCondition" placeholder="Buscar libros" pattern="[a-zA-ZáéíóúÁÉÍÓÚ 0-9 ]{1,50}" maxlength="50" data-toggle="tooltip" data-placement="top" title="Escribe un dato">
            <button type="submit" class="btn" style="margin: 0; height: 43px; background-color: transparent !important;">
                <i class="zmdi zmdi-search" style="font-size: 25px;"></i>
            </button>
        </div>
    </form>
</div>
<div class="container-fluid">
    <h2 class="text-center all-tittles">listado de libros</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="text-center" style="margin-bottom: 30px;" role="alert">
        <strong>--- {{ message }} ---</strong>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <table class="table-responsive" style="display: grid;">
        <thead class="div-table" style="margin:0 !important;">
            <tr class="div-table-row div-table-row-list" style="background-color:#DFF0D8; font-weight:bold;" >
                <td class="div-table-cell" style="width: 3%;">#</td>
                <td class="div-table-cell" style="width: 14%;">Titulo</td>
                <td class="div-table-cell" style="width: 16%;">Autor</td>
                <td class="div-table-cell" style="width: 9%;">Genero</td>
                <td class="div-table-cell" style="width: 16%;">Editorial</td>
                <td class="div-table-cell" style="width: 9%;">Fecha de publicacion</td>
                <td class="div-table-cell" style="width: 6%;">Enlace</td>
                <td class="div-table-cell" style="width: 6%;">Actualizar</td>
                <td class="div-table-cell" style="width: 6%;">Eliminar</td>

            </tr>
        </thead>
            <tbody class="div-table" style="margin:0 !important;">
                {% for book in books %}
                <tr class="div-table-row div-table-row-list">
                    <td class="div-table-cell" style="width: 3%;">#</td>
                    <td class="div-table-cell" style="width: 14%;">{{ book.1 }}</td>
                    <td class="div-table-cell" style="width: 16%;">{{ book.2 }}</td>
                    <td class="div-table-cell" style="width: 9%;">{{ book.3 }}</td>
                    <td class="div-table-cell" style="width: 16%;" >{{ book.4 }}</td>
                    <td class="div-table-cell" style="width: 9%;">{{ book.5 }}</td>
                    <td class="div-table-cell" style="width: 6%;">{{ book.6 }}</td>
                    <td class="div-table-cell" style="width: 6%;">
                        <a href="/editBook/{{book.0}}" class="btn btn-success"><i class="zmdi zmdi-refresh"></i></a>
                    </td>
                    <td class="div-table-cell" style="width: 6%;">
                        <a data-href="/deleteBook/{{book.0}}" data-placement="bottom" class="btn btn-danger delete-user-button"><i class="zmdi zmdi-delete"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
</div>

{% endblock %}