{% extends './loginLayout.html' %}

{% block title %} Login {% endblock %}
{% block subtitle %} inicia sesion {% endblock %}

{% block body %}

<form action="{{url_for('entrar_login')}}" method="POST">
    <div class="group-material-login">
        <input type="email" class="material-login-control" name="email" required="" maxlength="30">
        <span class="highlight-login"></span>
        <span class="bar-login"></span>
        <label><i class="zmdi zmdi-account"></i> &nbsp; Email</label>
    </div><br>
    <div class="group-material-login">
        <input type="password" class="material-login-control" name="password" required="" maxlength="15">
        <span class="highlight-login"></span>
        <span class="bar-login"></span>
        <label><i class="zmdi zmdi-lock"></i> &nbsp; Contraseña</label>
    </div>
    <button class="btn-login" type="submit">Ingresar &nbsp; <i class="zmdi zmdi-arrow-right"></i></button>
</form>

    <a href="/">
    <button class="btn-login2" type="submit"><i class="zmdi zmdi-arrow-left"></i> &nbsp; Atras </button>
    </a>
{% endblock %}
